@import "tailwindcss";

body{
    background-color: oklch(100% 0.00011 271.152);
}

/* body {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
} */