:root {
  --bg-icon: #38383a;
}

.text-icon {
  color: var(--bg-icon);
}

.box {
  position: relative;
  z-index: 1;
  /* backdrop-filter: blur(12px); */
  /* -webkit-backdrop-filter: blur(12px); */
  border-radius: 10px;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: -1;
  border-radius: inherit;
  background:
    radial-gradient(circle at 4% 60%, rgba(247, 8, 8, 0.45), transparent 45%),
    radial-gradient(circle at 27% 60%, rgba(8, 247, 48, 0.45), transparent 45%),
    radial-gradient(circle at 92% 60%, rgba(32, 8, 247, 0.45), transparent 45%),
    radial-gradient(circle at 68% 100%, rgb(255 251 9 / 74%), transparent 45%);
  filter: blur(25px);
  opacity: 0.9;
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 1);
  /* background: linear-gradient(135deg, #ffffff 19%, #757575 66%, #ffffff 83%); */
  backdrop-filter: blur(12px);
  border-radius: inherit;
}

.text-gradient {
  background: linear-gradient(135deg, rgba(247, 8, 8, 1) 19%, rgba(8, 247, 48, 1) 49%, rgb(255 251 9 / 74%) 86%, rgba(32, 8, 247, 0.45) 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* --------------------------------------- Balls -------------------------------- */

.ball-1 {

  background: linear-gradient(324deg, rgb(32, 8, 247), rgba(247, 8, 8, 1));
  position: absolute;
  width: 440px;
  height: 440px;
  border-radius: 100%;
  top: 155px;
  left: -214px;
  filter: blur(3px);
  z-index: -1;
}

.ball-2 {

  background: linear-gradient(324deg, rgba(8, 247, 48, 1), rgb(255 251 9 / 100%));
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  top: 155px;
  right: -214px;
  filter: blur(3px);
  z-index: -1;
}

.ball-3 {

  background: linear-gradient(324deg in oklch, rgba(32, 8, 247, 1), rgb(255 251 9 / 100%));
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  bottom: -15px;
  right: 20%;
  filter: blur(3px);
  z-index: -1;
}

.ball-4 {

  background: linear-gradient(324deg in oklch, rgba(247, 8, 8, 100%), rgba(8, 247, 48, 100%));
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  bottom: 295px;
  right: 40%;
  filter: blur(3px);
  z-index: -1;
}

@media (max-width: 600px) {
  .ball-3 {
    bottom: -146px;
    right: -14%;
    display: none;
  }

  .ball-1 {
    left: -309px;
  }

  .ball-2 {
    top: 130px;
    right: -216px;
  }

  .ball-4 {
    width: 70px;
    height: 70px;
    bottom: 364px;
    right: 40%;

  }
}

/* --------------------------------------- Glass Card -------------------------------- */
.glass-card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent);
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.8),
      transparent,
      rgba(255, 255, 255, 0.3));
}